/* Define the blue color palette */



/* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Adjust as needed */
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-4); /* Color of the thumb */
   /* Roundness of the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}







:root {
    --blue-1: #0d1b2a;
    --blue-2: #1b263b;
    --blue-3: #cad6e5;
    --blue-4: #778da9;
    --blue-5: #e0e0e0;
  }
  


  hr {
    border-top: 3px solid var(--blue-3);
    position: absolute;
    width: 60%;
    left: 20%;
  }
  /* Use the blue color palette */
  body {
    width: 100%;
    background-color: var(--blue-1);
    color: var(--blue-5);
    position: absolute;
    margin: none;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--blue-3);
    text-align: center;
    position: relative;
    
  }


  h1 {
   
    width: 70%;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
  }
  a {
    color: var(--blue-5);
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: var(--blue-3);
    text-align: center;
    text-decoration:underline;
  }
  
  button {
    background-color: var(--blue-2);
    color: var(--blue-5);
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
   
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: var(--blue-3);
    color: var(--blue-2);
    border: solid  var(--blue-4);
    font-size: 1rem;
  }

  #myBtn {
    background-color: var(--blue-1);
    color: var(--blue-5);
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  p {
    text-align: center;
  }
  .subheading {
    color: var(--blue-4);
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
  }
  img {
    border: 4.5px solid  var(--blue-4);
    position: relative;
  }



  #about {
    position: absolute;
    top: 4%;
    left: 4%;
    padding: 2%;
    z-index: 30;
    border: solid  var(--blue-5);
    font-style: normal;
    font-size: 1rem;
    background-color: var(--blue-4);
  }
  
  #bigboy {
    font-size: 1.6rem;
  }

  #about:hover {
    border: solid  var(--blue-4);
    position: absolute;
  }






  .w3-bar-item{padding:8px 8px;float:left;width:auto;border:none;display:block;outline:0}

  .w3-bar-item{width:100%;display:block;padding:8px 8px;text-align:center ;border:none;white-space:normal;float:none;outline:0}

  

  

  .w3-sidebar {
    height:100%;
    width:17%;
    left: 0%;
    top:0%;
    background-color:var(--blue-3);
    position:fixed!important;
    z-index:32;
    overflow:none !important;
    text-align: left !important;
  }

#navline {
  border-top: 3px solid var(--blue-1);
  left: 5%;
  width: 90%;
  position: absolute;
}

#droplist {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 1rem;
  color: var(--blue-1);
  left: 0%;
  max-width: 85%;
  z-index: 32;
}







.boxProfile {
  position: absolute;
  width: 400px;
  height: 400px;
  background: var(--blue-1);
  border-radius: 200px;
  overflow: hidden;
  left: 100px;
  top: 100px;
}

.boxProfile::before {
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  overflow: hidden;
  
}

.boxProfile:hover::before {
inset: -20px 0px;
}


@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.boxProfile::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: var(--blue-1);
  border-radius: 200px;
  overflow: hidden;
}

.contentJu {
  position: absolute;
  inset: 30px;
  border: 6px solid var(--blue-2);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentJu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  overflow: hidden;
  z-index: 3;
}


.boxProfile:hover .contentJu img{
  opacity: 0;
}

#JuFaceProfile{
  position: absolute;
  

  
 
}



#linewide {
  border-top: 6px solid var(--blue-4);
  width: 100%;
  left: 0%;
  z-index: 20;
  
}

#linewidebtm {
  border-top: 3px solid var(--blue-4);
  width: 100%;
  left: 0%;
  bottom: -1%;
}
#more, #dots {
  font-size: 2.9vh;
}


#blackbgStartAbt {
  background-color: var(--blue-1);
  height: 700px;
  position: relative;
  width: 100%;
}


#imgNeedMargin {
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50vw;
  overflow-y: hidden;
  border: 3px solid var(--blue-4);
}



body {
  margin: 0px 0px 0px 0px;
}

#JuFaceProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.boxProfile {
  flex: 0 0 auto; /* Set the boxProfile to not grow or shrink */
}

.contentJu {
  flex: 1; /* Allow contentJu to grow and take available space */
  text-align: right;
}

/* Optional: Adjust the image size */
.contentJu img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar-corner {
  background-color: transparent; /* Set the background color to transparent */
}


#textbox {
    margin-left: 550px;
    margin-right: 100px;
    margin-top: 110px;
    flex-direction: column;
    text-align: center;
    background-color: var(--blue-1);
    overflow: scroll;
    height: 500px;
}

#hideMe {
font-size: 1.3rem;
}


#myBtn2{
  border: 2px solid var(--blue-4);
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  font-size: 1.2rem;
  line-height: 50px;
}

#myBtn2:hover {
  color: var(--blue-2);
  border: 2px solid var(--blue-4);
  
}

/* Your regular styles go here */
#JackName {
  line-height: 200px;
  width: 385px;
  color: var(--blue-3);
}
/* Media query for screens with a width of 600 pixels or less */
@media (max-width: 1000px) {
  /* Adjust styles for smaller screens */
  /* For example, you can set a different width or display property for elements */
  readMoreBtn1 {
    display: block;
  }

  #JackName {
    padding-left: 50%;
    color: var(--blue-3);
    padding-right: 10%;
    top: 80px;
    width: 180px;
    line-height: 50px;
    font-size: 1.5rem;
  }

  #textbox {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 410px;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--blue-1);
    height: 600px;
    border: solid 2px var(--blue-2);
}




.boxProfile {
  position: absolute;
  width: 350px;
  height: 350px;
  background: var(--blue-1);
  border-radius: 175px;
  overflow: hidden;
  margin-left: 0%;
  margin-right: 0%;
  top: 5px;
  margin-bottom: 15px;
  left: 5%;
  

}
  #blackbgStartAbt {
    margin-bottom: 360px;
  }

  .contentJu {
    flex: 1; /* Allow contentJu to grow and take available space */
    text-align: right;
    font-size: 2.2vh;
  }
  

  #notcool {
    margin-right: 60%;
    margin-left: 3%;
    top: 250px !important;
    z-index: 4;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 3.3vh;
  }
}


.scroll-down {
  opacity: 0;
  display: none;
}


#notcool {
  margin-right: 60%;
  margin-left: 3%;
  top: 410px;
  z-index: 4;
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 3.3vh;
}

#more1 {
  display: none;
}