/* Define the blue color palette */
:root {
    --blue-1: #0d1b2a;
    --blue-2: #1b263b;
    --blue-3: #cad6e5;
    --blue-4: #778da9;
    --blue-5: #e0e0e0;
  }
  


  hr {
    border-top: 3px solid var(--blue-3);
    position: absolute;
    width: 60%;
    left: 20%;
  }
  /* Use the blue color palette */
  body {
    margin:auto;
    width: 50%;
    padding: 30px;
    background-color: var(--blue-1);
    color: var(--blue-5);
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--blue-3);
    text-align: center;
    
    
  }


  h1 {
    margin: auto;
    width: 70%;
    text-align: center;
  }
  a {
    color: var(--blue-5);
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: var(--blue-3);
    text-align: center;
    text-decoration:underline;
  }
  
  button {
    background-color: var(--blue-2);
    color: var(--blue-5);
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: var(--blue-3);
    color: var(--blue-2);
    border: solid  var(--blue-4);
    padding: 10px 40px;
    text-align: center;
    font-size: 1rem;
  }

  p {
    text-align: center;
  }
  .subheading {
    color: var(--blue-4);
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
  }
  img {
    border: solid  var(--blue-4);
  }



  #about {
    position: absolute;
    top: 4%;
    left: 12%;
    padding: 2%;
    border: solid  var(--blue-5);
    font-style: italic;
    font-size: 1rem;
    background-color: var(--blue-4);
  }
  
  #bigboy {
    font-size: 1.6rem;
  }

  #about:hover {
    border: solid  var(--blue-4);
  }

  #needspadding {
    padding: 5%;
  }